<html lang="esp">
<mat-sidenav-container class="sidenav-container" f>
    <!--Sets breakpoints for menu bars-->
    <mat-sidenav #drawer class="sidenav" fixedInViewport
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode] = "(isHandset$ | async) ? 'over' : 'side'"
            [opened] = "false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list class="menuItems">
            <a mat-list-item routerLink="/" (click)="drawer.close()">Inicio</a>
            <a mat-list-item routerLink="/calculadoras" (click)="drawer.close()">Calculadoras</a>
            <a mat-list-item routerLink="/login" (click)="drawer.close()" class="shaded-button">Iniciar Sesión</a>
        </mat-nav-list>


    </mat-sidenav>
    <mat-sidenav-content class="shadow-toolbar">
        <mat-toolbar>
            <button 
              type="button" 
              aria-label="Toggle sidenav" 
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">


              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="logo" routerLink="/"> <img src="assets\svg\JAHorizontal.svg" alt="Logo"></span>
            <span class="fill-space"></span>
            <div *ngIf="!(isHandset$ | async)">
                <a mat-button routerLink="/calculadoras" class="menuItems"> Calculadoras</a>
                <a mat-button routerLink="/login" class="menuItems shaded-button">Iniciar Sesión</a>



            </div>



        </mat-toolbar>

        <div class="content-container">
        </div>
        <ng-content></ng-content>

    </mat-sidenav-content>
</mat-sidenav-container>  
<footer>
    <div class="social-bar">
      <a href="https://www.youtube.com"> <img src="assets/svg/youtube-icon.svg"><i class="fab fa-youtube"></i></a>
      <a href="https://www.facebook.com"> <img src="assets/svg/facebook-icon.svg"><i class="fab fa-facebook"></i></a>
      <a href="https://www.tiktok.com"> <img src="assets/svg/tiktok-icon.svg"><i class="fab fa-tiktok"></i></a>
    </div>
    <p id="footerText"> Todos Los Derechos Reservados <br>© Adelante Holdings LLC</p>
  </footer>
</html>
