<body>
    <div class="box">
      <div *ngIf="!(afAuth.authState | async)" class="topSection">
        <h1>Empecemos Con Crear tu cuenta de JuntosAdelante</h1>
        <button mat-raised-button appGoogleSignin class="logButton">
          <img src="assets/svg/google-icon.svg" /> Inicia Sesión Con Google
        </button>
      </div>
  
      <div *ngIf="afAuth.authState | async as user" class="logout">
        <p>
          Logged in as <strong>{{ user.email }}</strong>
        </p>
        <button mat-stroked-button (click)="this.afAuth.signOut()">Logout</button>
      </div>
    </div>
  </body>
  
