<!DOCTYPE html>
<a routerLink="/"></a>
<html lang="esp">
  <head>
    <title>Juntos Adelante: Finanzas Personales En Espanol</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1>Herramientas y consejos para ayudar con tus finanzas personales en español</h1>
      <button mat-raised-button class="MainButtons" routerLink="calculadoras">Calculadoras</button>
    </header>
    <main>
      <section class="SectionOne">
        <img src="assets/svg/Calculator.svg" class="svg-right">
        <h2>Información Imparcial</h2>
        <p>Nuestro equipo editorial se asegura de convertir hasta los temas más difíciles de entender en asuntos de cada día.</p>
        <h2>Información En Video</h2>
        <p>Adaptamos nuestra información para que se ajuste a tus medios de aprendizaje. Lo importante es que comprenda el tema de las finanzas y nosotros lo hacemos fácil y posible.</p>
        <h2>Herramientas Financieras</h2>
        <p>Nuestra meta es hacer las finanzas personales lo más simple posible. Por eso ofrecemos educación financiera, calculadoras de gastos, y mucho más para asegurar los ingresos en el futuro y mejorar la economía doméstica.</p>
      </section>
      
      <section class="SectionTwo">
        <h3 id="TopicH3">La mejor forma de encontrar información en Español para manejar tus finanzas personales</h3>
        <p id="TopicP1">Es importante tomar las decisiones correctas para administrar tu dinero</p>
        <p id="TopicP2">Seguros | Tarjetas De Crédito | Ahorrar Dinero | Puntaje de Crédito | Como Comprar Una Casa</p>
      </section>
      <section class="SectionThree">
        <div class="grid-container">
          <h3>Calculadoras Para Tus Finanzas Personales</h3>
          <img class="svg-left" src="assets/svg/Calculator2.svg">
          <p>Muchos de los recursos en línea están en inglés. Por eso Juntos Adelante está fundado en la creación de herramientas en español.<br><br>
            Nuestras calculadoras son parte integral que hacemos.</p>
        </div>
      </section>
    </main>
  </body>
</html>